---
import LoadingIndicator from '@/components/common/Loading.astro'
import BaseFont from '@/components/seo/BaseFont.astro'
import { siteConfig } from '@/config/site'
import { ClientRouter } from 'astro:transitions'
import '@/styles/global.css'

interface Props {
  title: string
  description?: string
  image?: string
  imageAlt?: string
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const {
  title,
  description,
  image,
  imageAlt,
} = Astro.props;
---

<!-- Google analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GTM-KX5M3VZP"></script>
<!-- partytown -->
<script type="text/partytown">
  window.dataLayer = window.dataLayer || []
  window.gtag = function gtag() {
    // eslint-disable-next-line prefer-rest-params
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'GTM-KX5M3VZP')
</script>


<!-- Global Metadata -->
<meta charset="utf-8" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<title>{title ? `${title} | ${siteConfig.author}` : siteConfig.author}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
<meta name="generator" content={Astro.generator} />
<meta name="title" content={title ? `${title} | ${siteConfig.author}` : siteConfig.author} />
<meta name="description" content={description} />
<meta name="author" content={siteConfig.author} />
<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="robots" href="/robots.txt" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={siteConfig.title}
  href={new URL('rss.xml', Astro.site)}
/>
<!-- OG -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{
  image ? <meta property="og:image" content={new URL(image, Astro.url)} /> : null
}
{
  imageAlt ? <meta property="og:image:alt" content={imageAlt} /> : null
}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="628" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@me" />
<meta property="twitter:creator" content="@me" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{
  image ? <meta property="twitter:image" content={new URL(image, Astro.url)} /> : null
}
{
  imageAlt ? <meta property="twitter:image:alt" content={imageAlt} /> : null
}

<BaseFont />
<ClientRouter />
<LoadingIndicator />
