---
import type { UsingItem } from '@/types'
import Link from '@/components/common/Link.astro'
import MainLayout from '@/layouts/MainLayout.astro'
import { Icon } from 'astro-icon/components'
import { uses } from './_data'

const useTypes = Object.keys(uses)
---

<MainLayout
  title="Uses"
  description="Things of Choice."
>
  <section class:list={[
    'prose dark:prose-invert container max-w-[948px] relative flex w-full flex-col',
  ]}
  >
    <main class="grid grid-cols-1 gap-2 md:gap-4 md:grid-cols-5">
      <div class="md:col-span-1 rounded-lg hidden md:block">
        <aside class="fixed flex flex-col space-y-2">
          <div
            title="back"
            onclick="history.back()"
            class="pt-24 hidden xl:inline-flex hover:cursor-pointer"
          >
            <Icon name="lucide:arrow-up-left" class="mr-2 size-4 my-auto text-ds-gray-800" />
            <span
              class:list={[
                'text-sm text-ds-gray-800 underline underline-offset-4',
                'decoration-ds-gray-600 hover:decoration-ds-gray-900',
                'duration-500 ease-in-out decoration-1',
              ]}
            >
              Back
            </span>
          </div>
        </aside>
      </div>
      <article class="md:col-span-4 overflow-auto pt-2 md:pt-8">
        <h1 class="mt-2 scroll-m-20 text-3xl font-bold tracking-tight">
          Things of Choice.
        </h1>
        {
          useTypes.map((type) => {
            return (
              <h2 class="mt-10 scroll-m-20 text-2xl font-semibold tracking-tight first:mt-0">{type}</h2>
              <ul class="my-2 ml-1 list-disc">
                {
                  uses[type].map((item: UsingItem) => {
                    return (
                      item.url
                        ? (
                          <li class="mt-2">
                            <Link
                              href={`${item.url}?ref=antzhu.com`}
                              title={item.title}
                              class="break-words after:content-['_↗'] text-ds-gray-1000 after:text-ds-gray-1000 !pl-0 no-underline"
                            >
                              <span
                                class:list={[
                                  'font-medium text-ds-gray-1000 underline underline-offset-4 decoration-1',
                                  'decoration-ds-gray-500 hover:decoration-ds-gray-800 text-[15px]',
                                ]}
                              >
                                {item.title}
                              </span>
                            </Link>
                            {
                              item.desc && <span class="text-[15px] text-ds-gray-1000"> — {item.desc}</span>
                            }
                          </li>
                        )
                        : (
                          <li class="mt-2">
                            <span class="font-medium text-ds-gray-1000 text-[15px] !pl-0">
                              {item.title}
                            </span>
                            {
                              item.desc && <span class="text-[15px] text-ds-gray-1000"> — {item.desc}</span>
                            }
                          </li>
                        )
                    )
                  })
                }
              </ul>
            )
          })
        }
      </article>
    </main>
  </section>
</MainLayout>
