---
import Link from '@/components/common/Link.astro'
import {
  siteConfig,
} from '@/config/site'
import { Icon } from 'astro-icon/components'

type Props = {
  className?: string
}

const { className } = Astro.props

const footerLinks: {
  url: string
  title: string
}[] = [
  { title: 'Credits', url: '/credits/' },
]

// eslint-disable-next-line no-undef
const gitHash = PUBLIC_GIT_REVISION_INFO.substring(0, 7)
---

<footer class:list={[
    'flex w-full justify-center py-6',
    className,
  ]}
>
  <div class="container max-w-[948px] flex-1">
    <div class="flex h-full w-full items-end justify-between border-t border-solid pt-8 border-neutral-500/10  dark:border-neutral-900">
      <div class="flex-1">
        <ul class="flex gap-2 pb-4 text-ds-gray-800 text-xs">
          {
            footerLinks.map((foot) => {
              return (
                <li>
                  <Link
                    href={foot.url}
                    title={foot.title}
                    class="link text-xs text-ds-gray-900"
                  >
                  </Link>
                </li>
              )
            })

          }
        </ul>
        <div class="flex gap-1.5 text-xs text-ds-gray-800">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="7"
            height="16"
            fill="none"
            viewBox="0 0 7 16"
            class="fill-neutral-500 dark:fill-silver-dark"
          >
            <path d="M3 6.5h1v6l-.5 1-.5-1v-6z"></path>
            <path
              d="M3.5 6a2.5 2.5 0 100-5 2.5 2.5 0 000 5zm-1-3a.5.5 0 100-1 .5.5 0 000 1z"
            ></path>
          </svg>
          Made in INDIA
        </div>
      </div>
      <div class="flex h-full flex-col items-end justify-end sm:justify-between">
        <div
          class="hidden flex-1 select-none text-xs text-ds-gray-800 sm:block"
          role="img"
        >
          {siteConfig.slogan}
        </div>
        <div class="flex gap-2">
          <Link
            class="common-link text-xs flex items-center gap-1.5"
            href="/rss.xml"
            title="site rss"
          >
            <Icon name="lucide:rss" class="size-3" />
          </Link>
          <Link
            class="common-link link-animate text-xs flex items-center gap-1.5 "
            href={siteConfig.repoUrl}
            title="website-blog"
          >
            <Icon name="simple-icons:github" class="size-3" />
            website-blog/{gitHash}
          </Link>
        </div>
      </div>
    </div>
  </div>
</footer>
